<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lunch Crunch</title>
    <link rel='shortcut icon' type='image/png' href='images/piggy-bank.png'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">  
</head>
<body>
    <div class="loader">
        <div class="inner"></div>
    </div>
<!-- NavBar -->
<nav class='navbar navbar-expand-lg '>
        <a class='navbar-brand' href=''><img src="images/piggy-bank2.png" alt="">LUNCH CRUNCH</a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
        <ul class='navbar-nav ml-auto'>
          <li class='nav-item'><a class='nav-link' href="/">HOME</a></li>
           <li class='nav-item'><a class='nav-link' href="#stats">FAQs</a></li>
             <li class='nav-item'><a class='nav-link' href="#login">LOGIN</a></li>
             <li class='nav-item'><a class='nav-link' href="dashboard">MY DASH</a></li>
        </ul>
      </div>
      </nav>
     
<!-- Header -->
<header>
    <div class='row'>
        <div class='row1 col-lg-6'>
            <h1>EXPENSE TRACKING MADE EASY</h1>
            <p>Spending is highly individual. Beyond the golden rule—spend less than you earn—it’s hard to be prescriptive because expenses are the result of so many individual decisions, many of which feel inconsequential as we make them. So, rather than instructing you “spend on this” or  “don’t spend on that,” today we are challenging you to get in the habit of tracking your outflows. </p>
            <a href=""><img  src="images/128x128.png" alt=""></a>
            <button type="button" class="btn btn-dark">Read More</button>
        </div>
        <div class='col-lg-6'>
            <img class="phoneimg" src="images/phone-0.png" alt="">
        </div>
    </div>
</header>
<!-- Stats -->
<section id= 'stats'>
    <div class='row'>
            <div class='col-lg-4 col-sm-12'>
            <img src="images/chart1.png" alt="">
            </div>
            <div class='col-lg-4 col-sm-12'>
                    <img src="images/chart2.png" alt="">
                    </div>
                    <div class='col-lg-4 col-sm-12'>
                            <img src="images/chart3.png" alt="">
                            </div>
    </div>

</section>
<!-- Modal -->
<div class="modal fade" id="darkModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog form-dark" role="document">
    <!--Content-->
    <div class="modal-content card card-image" style="background-image: url('https://images.unsplash.com/photo-1500042221431-070712d92035?ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80');
    background-size:cover;">
      <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
        <!--Header-->
        <div class="modal-header text-center pb-4">
          <h3 class="modal-title w-100 white-text font-weight-bold" id="myModalLabel"><strong>SIGN</strong> <a
              class="green-text font-weight-bold"><strong> UP</strong></a></h3>
          <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!--Body-->
        <div class="modal-body">
          <!--Body-->
          <div class="md-form pb-3">
            <input type="email" id="Form-username" class="form-control validate white-text">
            <label data-error="wrong" data-success="right" for="Form-username">Your username</label>
          </div>

          <div class="md-form pb-3">
            <input type="password" id="Form-pass" class="form-control validate white-text">
            <label data-error="wrong" data-success="right" for="Form-pass">Your password</label>
          </div>

          <div class="md-form pb-3">
            <input type="email" id="Form-email" class="form-control validate white-text">
            <label data-error="wrong" data-success="right" for="Form-email">Your email</label>
          </div>

          <div class="md-form pb-3">
            <input type="text" id="Form-fullname" class="form-control validate white-text">
            <label data-error="wrong" data-success="right" for="Form-fullname">Your full name</label>
          </div>

          <div class="md-form pb-3">
            <input type="text" id="Form-budget" class="form-control validate white-text">
            <label data-error="wrong" data-success="right" for="Form-budget">Your budget</label>
          </div>

          <div class="form-group mt-4">
            <input class="form-check-input" type="checkbox" id="checkbox624">
            <label for="checkbox624" class="white-text form-check-label">Accept the<a href="#" class="green-text font-weight-bold">
                Terms and Conditions</a></label>
          </div>

          <!--Grid row-->
          <div class="row d-flex align-items-center mb-4">

            <!--Grid column-->
            <div class="text-center mb-3 col-md-12">
              <button id="signUp" type="button" class="btn btn-dark btn-block btn-rounded z-depth-1">Sign up</button>
            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-md-12">
              <p class="font-small white-text d-flex justify-content-end">Have an account? <a href="#" class="green-text ml-1 font-weight-bold">
                  Log in</a></p>
            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

        </div>
      </div>
    </div>
    
  </div>
</div>
<!-- Modal -->
      
    <!--/.Content-->
  </div>
</div>
<!-- Modal -->

<!-- Login -->
<form id='login'>
    <div class='formbox'>
        <div> 
          <h1>Get started today!</h1>
          <div>
            <h3>Username</h3>
            <input id="username" type='name' placeholder="Username" required="">
          </div>
          <div>
            <h3>password</h3>
            <input id="password" type='password' placeholder="Password" required="">
          </div>
            <button type="submit" id="signIn">Sign In</button>
            <button type="submit" id="create" data-toggle="modal" data-target="#darkModalForm">Create Account</button>
          </div>
        </div>
    </div>
      </form>
      
<!-- footer -->
<footer id='foot'>
    <h3>© 2019 Lunch Crunch LCC | All Rights Reserved </h3>

</footer> 

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="scripts/app.js"></script>
</body>
</html>