* {
    scroll-behavior: smooth;
}

/* ------------
Navbar
------------- */
.navbar a {
    color: #FFFFFF;
}
.navbar {
    background: rgb(173,18,131); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(173,18,131,1) 30%, rgba(222,71,172,1) 67%, rgba(203,96,179,1) 87%, rgba(203,96,179,1) 92%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(173,18,131,1) 30%,rgba(222,71,172,1) 67%,rgba(203,96,179,1) 87%,rgba(203,96,179,1) 92%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(173,18,131,1) 30%,rgba(222,71,172,1) 67%,rgba(203,96,179,1) 87%,rgba(203,96,179,1) 92%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad1283', endColorstr='#cb60b3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/* ------------
Header
------------- */
header {
    background-image: url("../images/lcheaderr.jpg");
    height: 600px;
    background-size: cover;
    color:#F2F1F1;

}
header img {
    max-width: 500px;
    max-height:600px;
    float:right;
}
.row1 {
    display: flex;
    flex-flow: wrap;
    padding:80px 0 10px 100px;
}
.btn {
    height:40px;
    margin-left:5px;
}
/* ------------
Stats
------------- */

#stats {
    margin: 90px 50px;
}
#stats img {
    max-height:350px;
    max-width: 350px;
}
/* ------------
Login
------------- */
/* ------------
Footer
------------- */
/* ------------
Media Query
------------- */